<script type="text/x-handlebars-template" id="auth-home-template">
  <h1>{{ __ "Home" }}</h1>
  <p><a href="#logout" title="">{{ __ "Logout" }}</a> | <a href="#projects/new" title="">{{ __ "Create project" }}</a></p>
</script>
