<script type="text/x-handlebars-template" id="root-main-template">
  <div class="container main-section">
    <h1>{{ __ "Welcome to Bugbucket" }}</h1>
    <p>{{ __ "Simplify your project management. No more complications." }}</p>
    <p>
      <a class="btn btn-primary" href="#login">{{ __ "Start now" }}</a>
    </p>
  </div>
</script>
